@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.main {
    width: 800px;
    height: 53cm;
    background: #E6C9F9;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.header img {
    width: 740px;
    height: 300px;
    margin-left: 30px;
    margin-top: 30px;
}

 h1, p {
    text-align: center;
   
}

.card {
    width: 730px;
    height: 580px;
    background-color: white;
    margin-top: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 9px 11px rgb(128, 125, 125);
}

.card p {
    margin-top: -10px;
}

.card-content {
    width: 200px;
    height: 400px;
    background-color: #F7BEBE;
    display: inline-block;
    margin-left: 25px;
    border-radius: 5px;
    padding: 5px;
}

.card-content img {
    width: 200px;
    height: 250px;
}

.card-content h1 {
    font-size: 25px;
    margin-top: 5px;
}

.card-content p {
    margin-top: 10px;
}

#plus {
    height: 30px;
    width: 20px;
    margin-left: 55px;
    color: white;
    background-color: #95bbf3;
    border: none;
    border-radius: 2px;
}

.text {
    height: 28px;
    text-align: center;
    border: none;
    border-radius: 2px;
}

#minus {
        height: 30px;
        width: 20px;
        color: white;
        background-color: #95bbf3;
        border: none;
        border-radius: 2px;
}

.card-dados {
    width: 730px;
    height: 250px;
    background-color: #D4DAFE;
    margin-top: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 9px 11px rgb(128, 125, 125);
}

.card-dados input {
    width: 500px;
    height: 25px;
    margin-bottom: 15px;
    border: white;
    border-radius: 5px;
    margin-left: 110px;
    padding: 5px;
}

.button {
    font-weight: bolder;
    width: 740px;
    height: 40px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: #F7BEBE;
    border: none;
    border-radius: 5px;
}

.pedido p {
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}
